@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
  --pale-blue: #ddecf2;
  --blue: #1a85b0;
  --dark-blue: #0667a3;
  --yellow: #f8e69e;
  --pink: #fdd1e2;
  --border-radius: 5px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--dark-blue);
  font-family: "Fredoka One", cursive;
  font-size: 2rem;
  letter-spacing: 1px;
  color: var(--pale-blue);
  text-align: center;
}

p {
  margin-top: 25px;
  margin-bottom: 8px;
}

/* global button style */
.btn {
  background-color: var(--blue);
  border: 0;
  border-radius: var(--border-radius);
  color: var(--pale-blue);
  cursor: pointer;
  transition: 0.3s all;
  display: block;
  padding: 15px;
  margin: 20px auto;
  text-transform: lowercase;
  font-family: inherit;
  font-size: inherit;
}

.btn:hover,
.btn:focus {
  background-color: var(--pale-blue);
  color: var(--blue);
}

h1 {
  margin-top: 30px;
  margin-bottom: 0px;
  color: var(--yellow);
  text-transform: lowercase;
  font-size: 4rem;
}

.start-screen {
  text-transform: lowercase;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  grid-template-rows: repeat(3, minmax(50px, 1fr));
  grid-gap: 15px;
  padding: 15px;
  margin: 0 auto;
  max-width: 65vh;
  max-height: 65vh;
  font-size: 7rem;
  position: relative;
}

.board::before {
  content: "";
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.cell:first-of-type {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.cell {
  padding: 8px;
  border-radius: var(--border-radius);
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
}

.available {
  cursor: pointer;
}

.available:hover,
.available:focus {
  background-color: var(--pale-blue);
  opacity: 0.5;
}

.cell[data-player="X"] {
  color: var(--pink);
}

.cell[data-player="O"] {
  color: var(--yellow);
}

.disabled-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: transparent;
}

.game-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.game-mode p {
  margin: 0;
}

.btn-change {
  padding: 5px;
  margin: 0;
  margin-left: 5px;
}

.btn-reset {
  margin-top: 8px;
  background-color: transparent;
  border: 0;
  color: var(--pale-blue);
  font-size: 5rem;
  cursor: pointer;
  transform: rotate(-45deg);
}

@media (max-width: 500px) {
  .board {
    font-size: 5rem;
  }
}
